{
  "openapi": "3.0.1",
  "info": {
    "title": "SIM Management",
    "description": "Documentation of the 1NCE API for SIM Management.",
    "contact": {
      "name": "1NCE GmbH",
      "url": "https://1nce.com",
      "email": "info@1nce.com"
    },
    "version": "v2.0"
  },
  "servers": [
    {
      "url": "https://api.1nce.com/management-api"
    }
  ],
  "tags": [
    {
      "name": "General SIMs",
      "description": "General SIM Management"
    },
    {
      "name": "SMS",
      "description": "SMS Management"
    },
    {
      "name": "Connectivity",
      "description": "Connectivty Management"
    },
    {
      "name": "SIM Events",
      "description": "Event Management"
    },
    {
      "name": "SIM Usage",
      "description": "Usage Management"
    },
    {
      "name": "Volume Limits",
      "description": "Limit Management"
    },
    {
      "name": "Volume Top Up",
      "description": "Top Up Management"
    },
    {
      "name": "SIM Extension",
      "description": "SIM Extension Management"
    }
  ],
  "paths": {
    "/v1/sims": {
      "get": {
        "tags": [
          "General SIMs"
        ],
        "summary": "Get All SIMs",
        "description": "Get a List of SIMs for the current account.",
        "operationId": "getSimsUsingGET",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Number index of the requested SIM list page. Use this parameter to iterate through all SIMs on the different pages. The total amount of pages is listed in the response header.",
            "allowEmptyValue": false,
            "schema": {
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Defines the size of a page, the number of individual SIMs listed on one page. The maximum allowed value is 100.",
            "allowEmptyValue": false,
            "schema": {
              "maximum": 100,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Filter parameter in <i>{filter}:{value}</i> format. Expects comma separated list of filtering criteria out of the following fields: <ul><li>imei</li><li>ip_address</li></ul><p><b>Example:</b> \"ip_address:127.0.0.1,imei:4711\"</p>",
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort values in a comma seperated list. Prepend \"-\" for descending sort. Possible values:<ul><li>imei</li><li>ip_address</li></ul><p><b>Example:</b>\"ip_address,-imei\"</p>",
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Count-Per-Page": {
                "description": "Number of results per page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Current-Page": {
                "description": "Number of the current page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Total number of results available.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Total number of pages available.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "title": "SIM Card",
                    "type": "object",
                    "properties": {
                      "iccid": {
                        "type": "string",
                        "description": "ICCID identifier of the SIM.",
                        "example": "8988303000123456789"
                      },
                      "iccid_with_luhn": {
                        "type": "string",
                        "description": "ICCID identifier of the SIM with Luhn check number.",
                        "example": "89883030001234567890"
                      },
                      "imsi": {
                        "type": "string",
                        "description": "First IMSI of the SIM, used for normal 1NCE network.",
                        "example": "901405100000018"
                      },
                      "imsi_2": {
                        "type": "string",
                        "description": "Second IMSI of the SIM, used for China+ network.",
                        "example": "901405100000018"
                      },
                      "current_imsi": {
                        "type": "string",
                        "description": "Currently active IMSI, dependent on the region where the SIM is used.",
                        "example": "901405100000018"
                      },
                      "msisdn": {
                        "type": "string",
                        "description": "MSISDN of the SIM.",
                        "example": "882285100000018"
                      },
                      "imei": {
                        "type": "string",
                        "description": "IMEI of the device in which the SIM is inserted.",
                        "example": "0000000000000018"
                      },
                      "imei_lock": {
                        "type": "boolean",
                        "description": "Indicates if SIM is locked to the current device IMEI.",
                        "example": true
                      },
                      "status": {
                        "type": "string",
                        "description": "The current status of the SIM card.",
                        "example": "Disabled",
                        "enum": [
                          "Enabled",
                          "Disabled"
                        ]
                      },
                      "activation_date": {
                        "type": "string",
                        "description": "The date when the SIM card was activated.",
                        "example": "2018-03-09T07:59:09.000+0000"
                      },
                      "ip_address": {
                        "type": "string",
                        "description": "The fixed IP address of the SIM card.",
                        "example": "100.100.100.18"
                      },
                      "current_quota": {
                        "type": "number",
                        "description": "The overall set data quota for the SIM in MB.",
                        "example": 500
                      },
                      "quota_status": {
                        "title": "Quota Status",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Numeric indicator for the threshold levels: <ul><li>0: more than 20%</li><li>1: less than 20%</li><li>2: 0% remaining</li></ul>",
                            "example": 0
                          },
                          "description": {
                            "type": "string",
                            "description": "Text description of the quota status."
                          },
                          "threshold_reached_date": {
                            "type": "string",
                            "description": "Date on which the threshold less than 20% of the quota avaliable was reached.",
                            "format": "date-time"
                          },
                          "quota_exceeded_date": {
                            "type": "string",
                            "description": "Date on which 100% of the avaliable quota was exceeded.",
                            "format": "date-time"
                          }
                        },
                        "description": "Indicates whether more than 20%, less than 20% or 0% of the current quota SMS or data are still available."
                      },
                      "current_quota_SMS": {
                        "type": "number",
                        "description": "Current SMS Quota for the SIM.",
                        "example": 250
                      },
                      "quota_status_SMS": {
                        "title": "Quota Status",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Numeric indicator for the threshold levels: <ul><li>0: more than 20%</li><li>1: less than 20%</li><li>2: 0% remaining</li></ul>",
                            "example": 0
                          },
                          "description": {
                            "type": "string",
                            "description": "Text description of the quota status."
                          },
                          "threshold_reached_date": {
                            "type": "string",
                            "description": "Date on which the threshold less than 20% of the quota avaliable was reached.",
                            "format": "date-time"
                          },
                          "quota_exceeded_date": {
                            "type": "string",
                            "description": "Date on which 100% of the avaliable quota was exceeded.",
                            "format": "date-time"
                          }
                        },
                        "description": "Indicates whether more than 20%, less than 20% or 0% of the current quota SMS or data are still available."
                      },
                      "label": {
                        "type": "string",
                        "description": "Label set by the customer in the 1NCE Portal for the SIM.",
                        "example": "DX-137-B12"
                      }
                    },
                    "description": "Detailed information about a SIM card."
                  }
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "title": "SIM Card",
                    "type": "object",
                    "properties": {
                      "iccid": {
                        "type": "string",
                        "description": "ICCID identifier of the SIM.",
                        "example": "8988303000123456789"
                      },
                      "iccid_with_luhn": {
                        "type": "string",
                        "description": "ICCID identifier of the SIM with Luhn check number.",
                        "example": "89883030001234567890"
                      },
                      "imsi": {
                        "type": "string",
                        "description": "First IMSI of the SIM, used for normal 1NCE network.",
                        "example": "901405100000018"
                      },
                      "imsi_2": {
                        "type": "string",
                        "description": "Second IMSI of the SIM, used for China+ network.",
                        "example": "901405100000018"
                      },
                      "current_imsi": {
                        "type": "string",
                        "description": "Currently active IMSI, dependent on the region where the SIM is used.",
                        "example": "901405100000018"
                      },
                      "msisdn": {
                        "type": "string",
                        "description": "MSISDN of the SIM.",
                        "example": "882285100000018"
                      },
                      "imei": {
                        "type": "string",
                        "description": "IMEI of the device in which the SIM is inserted.",
                        "example": "0000000000000018"
                      },
                      "imei_lock": {
                        "type": "boolean",
                        "description": "Indicates if SIM is locked to the current device IMEI.",
                        "example": true
                      },
                      "status": {
                        "type": "string",
                        "description": "The current status of the SIM card.",
                        "example": "Disabled",
                        "enum": [
                          "Enabled",
                          "Disabled"
                        ]
                      },
                      "activation_date": {
                        "type": "string",
                        "description": "The date when the SIM card was activated.",
                        "example": "2018-03-09T07:59:09.000+0000"
                      },
                      "ip_address": {
                        "type": "string",
                        "description": "The fixed IP address of the SIM card.",
                        "example": "100.100.100.18"
                      },
                      "current_quota": {
                        "type": "number",
                        "description": "The overall set data quota for the SIM in MB.",
                        "example": 500
                      },
                      "quota_status": {
                        "title": "Quota Status",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Numeric indicator for the threshold levels: <ul><li>0: more than 20%</li><li>1: less than 20%</li><li>2: 0% remaining</li></ul>",
                            "example": 0
                          },
                          "description": {
                            "type": "string",
                            "description": "Text description of the quota status."
                          },
                          "threshold_reached_date": {
                            "type": "string",
                            "description": "Date on which the threshold less than 20% of the quota avaliable was reached.",
                            "format": "date-time"
                          },
                          "quota_exceeded_date": {
                            "type": "string",
                            "description": "Date on which 100% of the avaliable quota was exceeded.",
                            "format": "date-time"
                          }
                        },
                        "description": "Indicates whether more than 20%, less than 20% or 0% of the current quota SMS or data are still available."
                      },
                      "current_quota_SMS": {
                        "type": "number",
                        "description": "Current SMS Quota for the SIM.",
                        "example": 250
                      },
                      "quota_status_SMS": {
                        "title": "Quota Status",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Numeric indicator for the threshold levels: <ul><li>0: more than 20%</li><li>1: less than 20%</li><li>2: 0% remaining</li></ul>",
                            "example": 0
                          },
                          "description": {
                            "type": "string",
                            "description": "Text description of the quota status."
                          },
                          "threshold_reached_date": {
                            "type": "string",
                            "description": "Date on which the threshold less than 20% of the quota avaliable was reached.",
                            "format": "date-time"
                          },
                          "quota_exceeded_date": {
                            "type": "string",
                            "description": "Date on which 100% of the avaliable quota was exceeded.",
                            "format": "date-time"
                          }
                        },
                        "description": "Indicates whether more than 20%, less than 20% or 0% of the current quota SMS or data are still available."
                      },
                      "label": {
                        "type": "string",
                        "description": "Label set by the customer in the 1NCE Portal for the SIM.",
                        "example": "DX-137-B12"
                      }
                    },
                    "description": "Detailed information about a SIM card."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuthentication": []
          }
        ]
      },
      "post": {
        "tags": [
          "General SIMs"
        ],
        "summary": "Create Multiple SIM Configuration",
        "description": "Change a list of SIMS for activate, deactivate, label, IMEI lock, etc. The actual change will be done asynchronously. A positive-response only means that the SIM changes has been successfully placed into the queue.",
        "operationId": "updateSimsUsingPOST",
        "requestBody": {
          "description": "A list of SIM parameters where some parameters should be changed.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "title": "SIM Update Values",
                  "type": "object",
                  "required": [
                    "iccid",
                    "status"
                  ],
                  "properties": {
                    "iccid": {
                      "type": "string",
                      "description": "ICCID of the queried SIM.",
                      "example": "8988280666000000000"
                    },
                    "label": {
                      "type": "string",
                      "description": "Label of the SIM set by the customer in the 1NCE Portal.",
                      "example": "DX-137-B12"
                    },
                    "imei_lock": {
                      "type": "boolean",
                      "description": "Flag that indicates if SIM is locked to the current device IMEI.",
                      "example": false,
                      "default": false
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the SIM. A SIM can be enabled (active) or disabled (deactivated).",
                      "example": "Enabled",
                      "default": "Enabled",
                      "enum": [
                        "Enabled",
                        "Disabled"
                      ]
                    }
                  },
                  "description": "Information about a SIM card based on a SIM update procedure."
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "x-codegen-request-body-name": "sims"
      }
    },
    "/v1/sims/{iccid}": {
      "get": {
        "tags": [
          "General SIMs"
        ],
        "summary": "Get Single SIM",
        "description": "Get detail information (status, label, MSISDN, IMSI, ICCID, Lifetime, etc.) for a singe SIM based on the ICCID.",
        "operationId": "getSimUsingGET",
        "parameters": [
          {
            "name": "iccid",
            "in": "path",
            "description": "The ICCID of the SIM to be queried.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 8988280666000000000
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SIM Card",
                  "type": "object",
                  "properties": {
                    "iccid": {
                      "type": "string",
                      "description": "ICCID identifier of the SIM.",
                      "example": "8988303000123456789"
                    },
                    "iccid_with_luhn": {
                      "type": "string",
                      "description": "ICCID identifier of the SIM with Luhn check number.",
                      "example": "89883030001234567890"
                    },
                    "imsi": {
                      "type": "string",
                      "description": "First IMSI of the SIM, used for normal 1NCE network.",
                      "example": "901405100000018"
                    },
                    "imsi_2": {
                      "type": "string",
                      "description": "Second IMSI of the SIM, used for China+ network.",
                      "example": "901405100000018"
                    },
                    "current_imsi": {
                      "type": "string",
                      "description": "Currently active IMSI, dependent on the region where the SIM is used.",
                      "example": "901405100000018"
                    },
                    "msisdn": {
                      "type": "string",
                      "description": "MSISDN of the SIM.",
                      "example": "882285100000018"
                    },
                    "imei": {
                      "type": "string",
                      "description": "IMEI of the device in which the SIM is inserted.",
                      "example": "0000000000000018"
                    },
                    "imei_lock": {
                      "type": "boolean",
                      "description": "Indicates if SIM is locked to the current device IMEI.",
                      "example": true
                    },
                    "status": {
                      "type": "string",
                      "description": "The current status of the SIM card.",
                      "example": "Disabled",
                      "enum": [
                        "Enabled",
                        "Disabled"
                      ]
                    },
                    "activation_date": {
                      "type": "string",
                      "description": "The date when the SIM card was activated.",
                      "example": "2018-03-09T07:59:09.000+0000"
                    },
                    "ip_address": {
                      "type": "string",
                      "description": "The fixed IP address of the SIM card.",
                      "example": "100.100.100.18"
                    },
                    "current_quota": {
                      "type": "number",
                      "description": "The overall set data quota for the SIM in MB.",
                      "example": 500
                    },
                    "quota_status": {
                      "title": "Quota Status",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number",
                          "description": "Numeric indicator for the threshold levels: <ul><li>0: more than 20%</li><li>1: less than 20%</li><li>2: 0% remaining</li></ul>",
                          "example": 0
                        },
                        "description": {
                          "type": "string",
                          "description": "Text description of the quota status."
                        },
                        "threshold_reached_date": {
                          "type": "string",
                          "description": "Date on which the threshold less than 20% of the quota avaliable was reached.",
                          "format": "date-time"
                        },
                        "quota_exceeded_date": {
                          "type": "string",
                          "description": "Date on which 100% of the avaliable quota was exceeded.",
                          "format": "date-time"
                        }
                      },
                      "description": "Indicates whether more than 20%, less than 20% or 0% of the current quota SMS or data are still available."
                    },
                    "current_quota_SMS": {
                      "type": "number",
                      "description": "Current SMS Quota for the SIM.",
                      "example": 250
                    },
                    "quota_status_SMS": {
                      "title": "Quota Status",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number",
                          "description": "Numeric indicator for the threshold levels: <ul><li>0: more than 20%</li><li>1: less than 20%</li><li>2: 0% remaining</li></ul>",
                          "example": 0
                        },
                        "description": {
                          "type": "string",
                          "description": "Text description of the quota status."
                        },
                        "threshold_reached_date": {
                          "type": "string",
                          "description": "Date on which the threshold less than 20% of the quota avaliable was reached.",
                          "format": "date-time"
                        },
                        "quota_exceeded_date": {
                          "type": "string",
                          "description": "Date on which 100% of the avaliable quota was exceeded.",
                          "format": "date-time"
                        }
                      },
                      "description": "Indicates whether more than 20%, less than 20% or 0% of the current quota SMS or data are still available."
                    },
                    "label": {
                      "type": "string",
                      "description": "Label set by the customer in the 1NCE Portal for the SIM.",
                      "example": "DX-137-B12"
                    }
                  },
                  "description": "Detailed information about a SIM card."
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "title": "SIM Card",
                  "type": "object",
                  "properties": {
                    "iccid": {
                      "type": "string",
                      "description": "ICCID identifier of the SIM.",
                      "example": "8988303000123456789"
                    },
                    "iccid_with_luhn": {
                      "type": "string",
                      "description": "ICCID identifier of the SIM with Luhn check number.",
                      "example": "89883030001234567890"
                    },
                    "imsi": {
                      "type": "string",
                      "description": "First IMSI of the SIM, used for normal 1NCE network.",
                      "example": "901405100000018"
                    },
                    "imsi_2": {
                      "type": "string",
                      "description": "Second IMSI of the SIM, used for China+ network.",
                      "example": "901405100000018"
                    },
                    "current_imsi": {
                      "type": "string",
                      "description": "Currently active IMSI, dependent on the region where the SIM is used.",
                      "example": "901405100000018"
                    },
                    "msisdn": {
                      "type": "string",
                      "description": "MSISDN of the SIM.",
                      "example": "882285100000018"
                    },
                    "imei": {
                      "type": "string",
                      "description": "IMEI of the device in which the SIM is inserted.",
                      "example": "0000000000000018"
                    },
                    "imei_lock": {
                      "type": "boolean",
                      "description": "Indicates if SIM is locked to the current device IMEI.",
                      "example": true
                    },
                    "status": {
                      "type": "string",
                      "description": "The current status of the SIM card.",
                      "example": "Disabled",
                      "enum": [
                        "Enabled",
                        "Disabled"
                      ]
                    },
                    "activation_date": {
                      "type": "string",
                      "description": "The date when the SIM card was activated.",
                      "example": "2018-03-09T07:59:09.000+0000"
                    },
                    "ip_address": {
                      "type": "string",
                      "description": "The fixed IP address of the SIM card.",
                      "example": "100.100.100.18"
                    },
                    "current_quota": {
                      "type": "number",
                      "description": "The overall set data quota for the SIM in MB.",
                      "example": 500
                    },
                    "quota_status": {
                      "title": "Quota Status",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number",
                          "description": "Numeric indicator for the threshold levels: <ul><li>0: more than 20%</li><li>1: less than 20%</li><li>2: 0% remaining</li></ul>",
                          "example": 0
                        },
                        "description": {
                          "type": "string",
                          "description": "Text description of the quota status."
                        },
                        "threshold_reached_date": {
                          "type": "string",
                          "description": "Date on which the threshold less than 20% of the quota avaliable was reached.",
                          "format": "date-time"
                        },
                        "quota_exceeded_date": {
                          "type": "string",
                          "description": "Date on which 100% of the avaliable quota was exceeded.",
                          "format": "date-time"
                        }
                      },
                      "description": "Indicates whether more than 20%, less than 20% or 0% of the current quota SMS or data are still available."
                    },
                    "current_quota_SMS": {
                      "type": "number",
                      "description": "Current SMS Quota for the SIM.",
                      "example": 250
                    },
                    "quota_status_SMS": {
                      "title": "Quota Status",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number",
                          "description": "Numeric indicator for the threshold levels: <ul><li>0: more than 20%</li><li>1: less than 20%</li><li>2: 0% remaining</li></ul>",
                          "example": 0
                        },
                        "description": {
                          "type": "string",
                          "description": "Text description of the quota status."
                        },
                        "threshold_reached_date": {
                          "type": "string",
                          "description": "Date on which the threshold less than 20% of the quota avaliable was reached.",
                          "format": "date-time"
                        },
                        "quota_exceeded_date": {
                          "type": "string",
                          "description": "Date on which 100% of the avaliable quota was exceeded.",
                          "format": "date-time"
                        }
                      },
                      "description": "Indicates whether more than 20%, less than 20% or 0% of the current quota SMS or data are still available."
                    },
                    "label": {
                      "type": "string",
                      "description": "Label set by the customer in the 1NCE Portal for the SIM.",
                      "example": "DX-137-B12"
                    }
                  },
                  "description": "Detailed information about a SIM card."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuthentication": []
          }
        ]
      },
      "put": {
        "tags": [
          "General SIMs"
        ],
        "summary": "Create Single SIM Configuration",
        "description": "Modification of a SIM card to activate, deactivate, change label, change IMEI lock, etc.",
        "operationId": "updateSimUsingPUT",
        "parameters": [
          {
            "name": "iccid",
            "in": "path",
            "description": "The ICCID of the SIM to be changed.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 8988280666000000000
          }
        ],
        "requestBody": {
          "description": "Response with the modified data for the SIM that was selected.",
          "content": {
            "application/json": {
              "schema": {
                "title": "SIM Update Values",
                "type": "object",
                "required": [
                  "iccid",
                  "status"
                ],
                "properties": {
                  "iccid": {
                    "type": "string",
                    "description": "ICCID of the queried SIM.",
                    "example": "8988280666000000000"
                  },
                  "label": {
                    "type": "string",
                    "description": "Label of the SIM set by the customer in the 1NCE Portal.",
                    "example": "DX-137-B12"
                  },
                  "imei_lock": {
                    "type": "boolean",
                    "description": "Flag that indicates if SIM is locked to the current device IMEI.",
                    "example": false,
                    "default": false
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the SIM. A SIM can be enabled (active) or disabled (deactivated).",
                    "example": "Enabled",
                    "default": "Enabled",
                    "enum": [
                      "Enabled",
                      "Disabled"
                    ]
                  }
                },
                "description": "Information about a SIM card based on a SIM update procedure."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "x-codegen-request-body-name": "sim"
      }
    },
    "/v1/sims/{iccid}/status": {
      "get": {
        "tags": [
          "General SIMs"
        ],
        "summary": "Get SIM Status",
        "description": "Query the current status of a specific SIM card.",
        "operationId": "getStatusForSimUsingGET",
        "parameters": [
          {
            "name": "iccid",
            "in": "path",
            "description": "The ICCID of the SIM to be queried.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 8988280666000000000
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Connectivity",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The current connectivity status of a SIM.",
                      "example": "OFFLINE",
                      "enum": [
                        "OFFLINE",
                        "ONLINE",
                        "ATTACHED"
                      ]
                    },
                    "location": {
                      "title": "Location",
                      "type": "object",
                      "properties": {
                        "iccid": {
                          "type": "string",
                          "description": "ICCID of a specific 1NCE SIM.",
                          "example": "8988280666000000000"
                        },
                        "imsi": {
                          "type": "string",
                          "description": "IMSI of the SIM that triggered the event.",
                          "example": "901405100000018"
                        },
                        "last_updated": {
                          "type": "string",
                          "description": "Timestamp from the last location update.",
                          "format": "date-time"
                        },
                        "last_updated_gprs": {
                          "type": "string",
                          "description": "Timestamp from the last GPRS location update.",
                          "format": "date-time"
                        },
                        "sgsn_number": {
                          "type": "string",
                          "description": "Serving GPRS Support Node (SGSN) identifier for the SGSN where the SIM is attached.",
                          "example": "491600300000"
                        },
                        "vlr_number": {
                          "type": "string",
                          "description": "Visitor Location Register (VLR) identifier.",
                          "example": "491710000000"
                        },
                        "vlr_number_np": {
                          "type": "string",
                          "description": "Visitor Location Register (VLR) Number NP.",
                          "example": "1"
                        },
                        "msc_number_np": {
                          "type": "string",
                          "description": "Mobile-services Switching Centre (MSC) Number NP.",
                          "example": "1"
                        },
                        "sgsn_number_np": {
                          "type": "string",
                          "description": "Serving GPRS Support Node (SGSN) Number NP.",
                          "example": "1"
                        },
                        "operator_id": {
                          "type": "string",
                          "description": "Identifier for the current operator the SIM is connected to.",
                          "example": "2"
                        },
                        "msc": {
                          "type": "string",
                          "description": "Mobile-services Switching Centre (MSC) identifier number.",
                          "example": "491710300000"
                        },
                        "sgsn_ip_address": {
                          "type": "string",
                          "description": "IP address of the used Serving GPRS Support Node (SGSN).",
                          "example": "x.x.x.x"
                        },
                        "operator": {
                          "title": "Operator",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Identifier for the operator.",
                              "example": "2"
                            },
                            "name": {
                              "type": "string",
                              "description": "String name of the operator where the SIM is currently attached to.",
                              "example": "T-Mobile"
                            },
                            "country": {
                              "title": "Country",
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Identifier of the country.",
                                  "example": "74"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "String name of the country of the operator where the SIM is currently attached.",
                                  "example": "Germany"
                                },
                                "iso-code": {
                                  "type": "string",
                                  "description": "ISO code for the country.",
                                  "example": "de"
                                }
                              },
                              "description": "Information about the country of the mobile operator."
                            }
                          },
                          "description": "Information about the operator."
                        },
                        "country": {
                          "title": "Country",
                          "type": "object",
                          "properties": {
                            "country_id": {
                              "type": "string",
                              "description": "Identifier of the country.",
                              "example": "74"
                            },
                            "name": {
                              "type": "string",
                              "description": "String name of the country where the SIM device is currently located.",
                              "example": "Germany"
                            },
                            "country_code": {
                              "type": "string",
                              "description": "International country code.",
                              "example": "49"
                            },
                            "mcc": {
                              "type": "string",
                              "description": "Mobile Country Code (MCC) of the SIM device location country.",
                              "example": "262"
                            },
                            "iso-code": {
                              "type": "string",
                              "description": "ISO code for the country.",
                              "example": "de"
                            },
                            "latitude": {
                              "type": "string",
                              "description": "Reference latitude of the location country.",
                              "example": "51"
                            },
                            "longitude": {
                              "type": "string",
                              "description": "Reference longitude of the location country.",
                              "example": "9"
                            }
                          },
                          "description": "Information about the location country."
                        }
                      },
                      "description": "Location information of the SIM device."
                    },
                    "pdp_context": {
                      "title": "PDP Context",
                      "type": "object",
                      "properties": {
                        "pdp_context_id": {
                          "type": "string",
                          "description": "ID of the current PDP Context.",
                          "example": "1898708000"
                        },
                        "endpoint_id": {
                          "type": "string",
                          "description": "ID of the used SIM endpoint.",
                          "example": "10458000"
                        },
                        "tariff_profile_id": {
                          "type": "string",
                          "description": "ID of the used tariff profile.",
                          "example": "129700"
                        },
                        "tariff_id": {
                          "type": "string",
                          "description": "ID of the used tariff.",
                          "example": "442"
                        },
                        "ratezone_id": {
                          "type": "string",
                          "description": "ID of the used ratezone.",
                          "example": "2171"
                        },
                        "organisation_id": {
                          "type": "string",
                          "description": "ID of the internal organisation reference.",
                          "example": "26xxx"
                        },
                        "imsi_id": {
                          "type": "string",
                          "description": "ID of the used IMSI.",
                          "example": "1610xxx"
                        },
                        "imsi": {
                          "type": "string",
                          "description": "IMSI of the specific SIM.",
                          "example": "901405100000018"
                        },
                        "sim_id": {
                          "type": "string",
                          "description": "ID of the specific SIM.",
                          "example": "901xxx"
                        },
                        "teid_data_plane": {
                          "type": "string",
                          "description": "Tunnel ID for the current PDP Context user plane.",
                          "example": "153329900"
                        },
                        "teid_control_plane": {
                          "type": "string",
                          "description": "Tunnel ID for the current PDP Context control plane.",
                          "example": "153329900"
                        },
                        "gtp_version": {
                          "type": "string",
                          "description": "Version of the used GPRS Tunneling Protocol (GTP).",
                          "example": "1"
                        },
                        "nsapi": {
                          "type": "string",
                          "description": "ID of the used Network Service Access Point Identifier (NSAPI).",
                          "example": "5"
                        },
                        "sgsn_control_plane_ip_address": {
                          "type": "string",
                          "description": "IP address of the Serving GPRS Support Node (SGSN) for the control plane.",
                          "example": "x.x.x.x"
                        },
                        "sgsn_data_plane_ip_address": {
                          "type": "string",
                          "description": "IP address of the Serving GPRS Support Node (SGSN) for the user data plane.",
                          "example": "x.x.x.x"
                        },
                        "ggsn_control_plane_ip_address": {
                          "type": "string",
                          "description": "IP address of the Gateway GPRS Support Node (GGSN) for the control plane.",
                          "example": "x.x.x.x"
                        },
                        "ggsn_data_plane_ip_address": {
                          "type": "string",
                          "description": "IP address of the Gateway GPRS Support Node (GGSN) for the user data plane.",
                          "example": "x.x.x.x"
                        },
                        "created": {
                          "type": "string",
                          "description": "Timestamp when the PDP Context was created.",
                          "format": "date-time"
                        },
                        "mcc": {
                          "type": "string",
                          "description": "Mobile Country Code (MCC).",
                          "example": "262"
                        },
                        "mnc": {
                          "type": "string",
                          "description": "Mobile Network Code (MNC).",
                          "example": "1"
                        },
                        "operator_id": {
                          "type": "string",
                          "description": "ID of the used SIM endpoint.",
                          "example": "38701"
                        },
                        "lac": {
                          "type": "string",
                          "description": "Location paramter of the PDP Context.",
                          "example": "10458000"
                        },
                        "ci": {
                          "type": "string",
                          "description": "Cell Identity (CI).",
                          "example": "5559"
                        },
                        "ue_ip_address": {
                          "type": "string",
                          "description": "IP address of the device using the SIM.",
                          "example": "x.x.x.x"
                        },
                        "imeisv": {
                          "type": "string",
                          "description": "IMEISV of the device with the SIM.",
                          "example": "8635760478500000"
                        },
                        "duration": {
                          "type": "string",
                          "description": "Current duration of the PDP Context.",
                          "example": "02:39:10"
                        },
                        "rat_type": {
                          "title": "Radio Access Technolog (RAT) Type",
                          "type": "object",
                          "properties": {
                            "rat_type_id": {
                              "type": "string",
                              "description": "ID of the used RAT.",
                              "example": "2"
                            },
                            "description": {
                              "type": "string",
                              "description": "String description of the used RAT.",
                              "example": "2G",
                              "enum": [
                                "2G",
                                "3G",
                                "4G",
                                "5G",
                                "NB-IoT"
                              ]
                            }
                          },
                          "description": "Describes the Radio Access Technology used in the PDP Context."
                        }
                      },
                      "description": "Information about the current PDP Context of the SIM."
                    },
                    "services": {
                      "type": "array",
                      "description": "List of services currently avaliable.",
                      "items": {
                        "type": "string",
                        "description": "Currently used service.",
                        "example": "GPRS"
                      }
                    }
                  },
                  "description": "Information about the current SIM connectivity status, location and PDP Context of a SIM."
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "title": "Connectivity",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The current connectivity status of a SIM.",
                      "example": "OFFLINE",
                      "enum": [
                        "OFFLINE",
                        "ONLINE",
                        "ATTACHED"
                      ]
                    },
                    "location": {
                      "title": "Location",
                      "type": "object",
                      "properties": {
                        "iccid": {
                          "type": "string",
                          "description": "ICCID of a specific 1NCE SIM.",
                          "example": "8988280666000000000"
                        },
                        "imsi": {
                          "type": "string",
                          "description": "IMSI of the SIM that triggered the event.",
                          "example": "901405100000018"
                        },
                        "last_updated": {
                          "type": "string",
                          "description": "Timestamp from the last location update.",
                          "format": "date-time"
                        },
                        "last_updated_gprs": {
                          "type": "string",
                          "description": "Timestamp from the last GPRS location update.",
                          "format": "date-time"
                        },
                        "sgsn_number": {
                          "type": "string",
                          "description": "Serving GPRS Support Node (SGSN) identifier for the SGSN where the SIM is attached.",
                          "example": "491600300000"
                        },
                        "vlr_number": {
                          "type": "string",
                          "description": "Visitor Location Register (VLR) identifier.",
                          "example": "491710000000"
                        },
                        "vlr_number_np": {
                          "type": "string",
                          "description": "Visitor Location Register (VLR) Number NP.",
                          "example": "1"
                        },
                        "msc_number_np": {
                          "type": "string",
                          "description": "Mobile-services Switching Centre (MSC) Number NP.",
                          "example": "1"
                        },
                        "sgsn_number_np": {
                          "type": "string",
                          "description": "Serving GPRS Support Node (SGSN) Number NP.",
                          "example": "1"
                        },
                        "operator_id": {
                          "type": "string",
                          "description": "Identifier for the current operator the SIM is connected to.",
                          "example": "2"
                        },
                        "msc": {
                          "type": "string",
                          "description": "Mobile-services Switching Centre (MSC) identifier number.",
                          "example": "491710300000"
                        },
                        "sgsn_ip_address": {
                          "type": "string",
                          "description": "IP address of the used Serving GPRS Support Node (SGSN).",
                          "example": "x.x.x.x"
                        },
                        "operator": {
                          "title": "Operator",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Identifier for the operator.",
                              "example": "2"
                            },
                            "name": {
                              "type": "string",
                              "description": "String name of the operator where the SIM is currently attached to.",
                              "example": "T-Mobile"
                            },
                            "country": {
                              "title": "Country",
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Identifier of the country.",
                                  "example": "74"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "String name of the country of the operator where the SIM is currently attached.",
                                  "example": "Germany"
                                },
                                "iso-code": {
                                  "type": "string",
                                  "description": "ISO code for the country.",
                                  "example": "de"
                                }
                              },
                              "description": "Information about the country of the mobile operator."
                            }
                          },
                          "description": "Information about the operator."
                        },
                        "country": {
                          "title": "Country",
                          "type": "object",
                          "properties": {
                            "country_id": {
                              "type": "string",
                              "description": "Identifier of the country.",
                              "example": "74"
                            },
                            "name": {
                              "type": "string",
                              "description": "String name of the country where the SIM device is currently located.",
                              "example": "Germany"
                            },
                            "country_code": {
                              "type": "string",
                              "description": "International country code.",
                              "example": "49"
                            },
                            "mcc": {
                              "type": "string",
                              "description": "Mobile Country Code (MCC) of the SIM device location country.",
                              "example": "262"
                            },
                            "iso-code": {
                              "type": "string",
                              "description": "ISO code for the country.",
                              "example": "de"
                            },
                            "latitude": {
                              "type": "string",
                              "description": "Reference latitude of the location country.",
                              "example": "51"
                            },
                            "longitude": {
                              "type": "string",
                              "description": "Reference longitude of the location country.",
                              "example": "9"
                            }
                          },
                          "description": "Information about the location country."
                        }
                      },
                      "description": "Location information of the SIM device."
                    },
                    "pdp_context": {
                      "title": "PDP Context",
                      "type": "object",
                      "properties": {
                        "pdp_context_id": {
                          "type": "string",
                          "description": "ID of the current PDP Context.",
                          "example": "1898708000"
                        },
                        "endpoint_id": {
                          "type": "string",
                          "description": "ID of the used SIM endpoint.",
                          "example": "10458000"
                        },
                        "tariff_profile_id": {
                          "type": "string",
                          "description": "ID of the used tariff profile.",
                          "example": "129700"
                        },
                        "tariff_id": {
                          "type": "string",
                          "description": "ID of the used tariff.",
                          "example": "442"
                        },
                        "ratezone_id": {
                          "type": "string",
                          "description": "ID of the used ratezone.",
                          "example": "2171"
                        },
                        "organisation_id": {
                          "type": "string",
                          "description": "ID of the internal organisation reference.",
                          "example": "26xxx"
                        },
                        "imsi_id": {
                          "type": "string",
                          "description": "ID of the used IMSI.",
                          "example": "1610xxx"
                        },
                        "imsi": {
                          "type": "string",
                          "description": "IMSI of the specific SIM.",
                          "example": "901405100000018"
                        },
                        "sim_id": {
                          "type": "string",
                          "description": "ID of the specific SIM.",
                          "example": "901xxx"
                        },
                        "teid_data_plane": {
                          "type": "string",
                          "description": "Tunnel ID for the current PDP Context user plane.",
                          "example": "153329900"
                        },
                        "teid_control_plane": {
                          "type": "string",
                          "description": "Tunnel ID for the current PDP Context control plane.",
                          "example": "153329900"
                        },
                        "gtp_version": {
                          "type": "string",
                          "description": "Version of the used GPRS Tunneling Protocol (GTP).",
                          "example": "1"
                        },
                        "nsapi": {
                          "type": "string",
                          "description": "ID of the used Network Service Access Point Identifier (NSAPI).",
                          "example": "5"
                        },
                        "sgsn_control_plane_ip_address": {
                          "type": "string",
                          "description": "IP address of the Serving GPRS Support Node (SGSN) for the control plane.",
                          "example": "x.x.x.x"
                        },
                        "sgsn_data_plane_ip_address": {
                          "type": "string",
                          "description": "IP address of the Serving GPRS Support Node (SGSN) for the user data plane.",
                          "example": "x.x.x.x"
                        },
                        "ggsn_control_plane_ip_address": {
                          "type": "string",
                          "description": "IP address of the Gateway GPRS Support Node (GGSN) for the control plane.",
                          "example": "x.x.x.x"
                        },
                        "ggsn_data_plane_ip_address": {
                          "type": "string",
                          "description": "IP address of the Gateway GPRS Support Node (GGSN) for the user data plane.",
                          "example": "x.x.x.x"
                        },
                        "created": {
                          "type": "string",
                          "description": "Timestamp when the PDP Context was created.",
                          "format": "date-time"
                        },
                        "mcc": {
                          "type": "string",
                          "description": "Mobile Country Code (MCC).",
                          "example": "262"
                        },
                        "mnc": {
                          "type": "string",
                          "description": "Mobile Network Code (MNC).",
                          "example": "1"
                        },
                        "operator_id": {
                          "type": "string",
                          "description": "ID of the used SIM endpoint.",
                          "example": "38701"
                        },
                        "lac": {
                          "type": "string",
                          "description": "Location paramter of the PDP Context.",
                          "example": "10458000"
                        },
                        "ci": {
                          "type": "string",
                          "description": "Cell Identity (CI).",
                          "example": "5559"
                        },
                        "ue_ip_address": {
                          "type": "string",
                          "description": "IP address of the device using the SIM.",
                          "example": "x.x.x.x"
                        },
                        "imeisv": {
                          "type": "string",
                          "description": "IMEISV of the device with the SIM.",
                          "example": "8635760478500000"
                        },
                        "duration": {
                          "type": "string",
                          "description": "Current duration of the PDP Context.",
                          "example": "02:39:10"
                        },
                        "rat_type": {
                          "title": "Radio Access Technolog (RAT) Type",
                          "type": "object",
                          "properties": {
                            "rat_type_id": {
                              "type": "string",
                              "description": "ID of the used RAT.",
                              "example": "2"
                            },
                            "description": {
                              "type": "string",
                              "description": "String description of the used RAT.",
                              "example": "2G",
                              "enum": [
                                "2G",
                                "3G",
                                "4G",
                                "5G",
                                "NB-IoT"
                              ]
                            }
                          },
                          "description": "Describes the Radio Access Technology used in the PDP Context."
                        }
                      },
                      "description": "Information about the current PDP Context of the SIM."
                    },
                    "services": {
                      "type": "array",
                      "description": "List of services currently avaliable.",
                      "items": {
                        "type": "string",
                        "description": "Currently used service.",
                        "example": "GPRS"
                      }
                    }
                  },
                  "description": "Information about the current SIM connectivity status, location and PDP Context of a SIM."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuthentication": []
          }
        ]
      }
    },
    "/v1/sims/simTransfer": {
      "post": {
        "tags": [
          "General SIMs"
        ],
        "summary": "Create SIM Transfer",
        "description": "Trigger a SIM transfer workflow - if possible - for moving SIMs from one customer to another.",
        "operationId": "simTransferUsingPOST",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "title": "Sim Transfer Request",
                "type": "object",
                "properties": {
                  "target_organisation": {
                    "type": "integer",
                    "description": "The organisation id to transfer the SIMs TO. Required if transferring to a suborganisation.",
                    "example": 2000000001
                  },
                  "iccid_ranges": {
                    "type": "array",
                    "description": "ICCID range of SIMs included or affected by this transfer.",
                    "items": {
                      "title": "Iccid Range",
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string",
                          "description": "The first ICCID of the given range of SIMs.",
                          "example": "8988280666000000000"
                        },
                        "to": {
                          "type": "string",
                          "description": "The last ICCID of the range of the given SIMs.",
                          "example": "8988280666000000010"
                        }
                      }
                    }
                  },
                  "iccids": {
                    "type": "array",
                    "description": "Individual ICCIDs of SIMs included or affected by this transfer.",
                    "items": {
                      "type": "string",
                      "description": "List of ICCIDs of individual SIMs.",
                      "example": "8988280666000000000"
                    }
                  }
                },
                "description": "Request data for transferring SIMs from one customer account to another."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/v1/sims/{iccid}/connectivity_info": {
      "get": {
        "tags": [
          "Connectivity"
        ],
        "summary": "Get SIM Connectivity",
        "description": "Retrieve connectivity information and cell tower of a device with a given SIM. The API call returns valid information when the 1NCE SIM is attached to a 2G/3G network only.",
        "operationId": "getConnectivityInfoForSimUsingGET",
        "parameters": [
          {
            "name": "iccid",
            "in": "path",
            "description": "The iccid of the SIM in question.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 8988280666000000000
          },
          {
            "name": "subscriber",
            "in": "query",
            "description": "Flag indicating if the subscriber information should be retrieved. Default value is true.",
            "allowEmptyValue": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": true
          },
          {
            "name": "ussd",
            "in": "query",
            "description": "Flag for retrieving the USSD connectivity info. Default value is false.",
            "allowEmptyValue": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Connectivity Info",
                  "type": "object",
                  "properties": {
                    "ussd_info": {
                      "title": "Ussd Information",
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Boolean flag indicating the success of the USSD request.",
                          "example": false
                        },
                        "error": {
                          "type": "string",
                          "description": "Optional information if some error occurred.",
                          "example": "Request Timeout Error"
                        }
                      },
                      "description": "Optional ussd information, only set if the parameter 'ussd' is set to true."
                    },
                    "subscriber_info": {
                      "title": "Subscriber Information",
                      "type": "object",
                      "properties": {
                        "current_location_retrieved": {
                          "type": "boolean",
                          "description": "Boolean flag indicating if the retrieved location is current.",
                          "example": true
                        },
                        "age_of_location": {
                          "type": "integer",
                          "description": "Age of the location information in minutes.",
                          "example": 0
                        },
                        "cell_global_id": {
                          "title": "Cell Global IDs",
                          "type": "object",
                          "properties": {
                            "cid": {
                              "type": "integer"
                            },
                            "lac": {
                              "type": "integer"
                            },
                            "mcc": {
                              "type": "string"
                            },
                            "mnc": {
                              "type": "string"
                            }
                          },
                          "description": "Mobile network parameter used to identify the cell tower of a SIM device."
                        }
                      },
                      "description": "The optional subscriber info returned when the 'subscriber' parameter is true and contains information about the current SIM device location based on the mobile network."
                    },
                    "request_timestamp": {
                      "type": "string",
                      "description": "Time in UTC the request was received.",
                      "example": "2018-11-07T17:21:46.121+0000"
                    },
                    "reply_timestamp": {
                      "type": "string",
                      "description": "Time in UTC the response was sent.",
                      "example": "2018-11-07T17:21:46.263+0000"
                    }
                  },
                  "description": "Contains connectivity and cell tower information for a given SIM request."
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "title": "Connectivity Info",
                  "type": "object",
                  "properties": {
                    "ussd_info": {
                      "title": "Ussd Information",
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Boolean flag indicating the success of the USSD request.",
                          "example": false
                        },
                        "error": {
                          "type": "string",
                          "description": "Optional information if some error occurred.",
                          "example": "Request Timeout Error"
                        }
                      },
                      "description": "Optional ussd information, only set if the parameter 'ussd' is set to true."
                    },
                    "subscriber_info": {
                      "title": "Subscriber Information",
                      "type": "object",
                      "properties": {
                        "current_location_retrieved": {
                          "type": "boolean",
                          "description": "Boolean flag indicating if the retrieved location is current.",
                          "example": true
                        },
                        "age_of_location": {
                          "type": "integer",
                          "description": "Age of the location information in minutes.",
                          "example": 0
                        },
                        "cell_global_id": {
                          "title": "Cell Global IDs",
                          "type": "object",
                          "properties": {
                            "cid": {
                              "type": "integer"
                            },
                            "lac": {
                              "type": "integer"
                            },
                            "mcc": {
                              "type": "string"
                            },
                            "mnc": {
                              "type": "string"
                            }
                          },
                          "description": "Mobile network parameter used to identify the cell tower of a SIM device."
                        }
                      },
                      "description": "The optional subscriber info returned when the 'subscriber' parameter is true and contains information about the current SIM device location based on the mobile network."
                    },
                    "request_timestamp": {
                      "type": "string",
                      "description": "Time in UTC the request was received.",
                      "example": "2018-11-07T17:21:46.121+0000"
                    },
                    "reply_timestamp": {
                      "type": "string",
                      "description": "Time in UTC the response was sent.",
                      "example": "2018-11-07T17:21:46.263+0000"
                    }
                  },
                  "description": "Contains connectivity and cell tower information for a given SIM request."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuthentication": []
          }
        ]
      }
    },
    "/v1/sims/{iccid}/reset": {
      "post": {
        "tags": [
          "Connectivity"
        ],
        "summary": "Create Connectivity Reset",
        "description": "Trigger a connectivity reset for a given SIM. The actual reset will be done asynchronously. A positive-response only means that the connectivity-reset has been successfully placed into the queue.",
        "operationId": "resetConnectivityUsingPOST",
        "parameters": [
          {
            "name": "iccid",
            "in": "path",
            "description": "The ICCID of the SIM to be reset.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 8988280666000000000
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuthentication": []
          }
        ]
      }
    },
    "/v1/sims/{iccid}/events": {
      "get": {
        "tags": [
          "SIM Events"
        ],
        "summary": "Get SIM Events",
        "description": "Get diagnostic/event information for a SIM card.",
        "operationId": "getEventsForSimUsingGET",
        "parameters": [
          {
            "name": "iccid",
            "in": "path",
            "description": "The ICCID of the SIM to be queried.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 8988280666000000000
          },
          {
            "name": "page",
            "in": "query",
            "description": "Number index of the requested SIM event page. Use this parameter to iterate through all SIMs on the different pages. The total amount of pages is listed in the response header.",
            "allowEmptyValue": false,
            "schema": {
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of events per page, maximum allowed value is 1000.",
            "allowEmptyValue": false,
            "schema": {
              "maximum": 1000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort values based on keys that are listed as a comma seperated list, prepend \"-\" for descending order.",
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "example": "-timestamp,id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Count-Per-Page": {
                "description": "Number of results per page.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-Current-Page": {
                "description": "Number of the current page.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-Total-Count": {
                "description": "Total number of results available.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-Total-Pages": {
                "description": "Total number of pages available.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "Event Collection",
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "title": "SIM Event",
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "description": "Timestamp of the event.",
                            "example": "2018-05-07T14:08:05.000+0000"
                          },
                          "event_type": {
                            "type": "string",
                            "description": "A text description of the event type.",
                            "example": "Status of SIM changed from 'Issued' to 'Activated'"
                          },
                          "iccid": {
                            "type": "string",
                            "description": "ICCID of the SIM that triggered the event.",
                            "example": "8988280666000000000"
                          },
                          "imei": {
                            "type": "string",
                            "description": "IMEI of the device that triggered the event.",
                            "example": "0000000000000018"
                          },
                          "imsi": {
                            "type": "string",
                            "description": "IMSI of the SIM that triggered the event.",
                            "example": "901405100000018"
                          },
                          "country": {
                            "type": "string",
                            "description": "Mobile operator country where the event device is currently located.",
                            "example": "Germany"
                          },
                          "operator": {
                            "type": "string",
                            "description": "Operator name of the network the device is currently attached to.",
                            "example": "T-Mobile"
                          },
                          "mcc": {
                            "type": "string",
                            "description": "Mobile Country Code (MCC) of the operator network.",
                            "example": "262"
                          },
                          "mnc": {
                            "type": "string",
                            "description": "Mobile Network Code (MNC) of the network the device is currently attached to.",
                            "example": "01"
                          },
                          "alert": {
                            "type": "boolean",
                            "description": "Boolean flag determining if this event is treated as an alert.",
                            "example": false
                          },
                          "event_severity": {
                            "type": "string",
                            "description": "Textual representation of the severity of the event.",
                            "example": "Info"
                          }
                        },
                        "description": "Information about a Event. Besides the timestamp and the event_type all other values are optional and might not be included in the actual responses."
                      }
                    },
                    "totalEvents": {
                      "type": "integer",
                      "example": 10
                    },
                    "totalPages": {
                      "type": "integer",
                      "example": 5
                    }
                  }
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "title": "Event Collection",
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "title": "SIM Event",
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "description": "Timestamp of the event.",
                            "example": "2018-05-07T14:08:05.000+0000"
                          },
                          "event_type": {
                            "type": "string",
                            "description": "A text description of the event type.",
                            "example": "Status of SIM changed from 'Issued' to 'Activated'"
                          },
                          "iccid": {
                            "type": "string",
                            "description": "ICCID of the SIM that triggered the event.",
                            "example": "8988280666000000000"
                          },
                          "imei": {
                            "type": "string",
                            "description": "IMEI of the device that triggered the event.",
                            "example": "0000000000000018"
                          },
                          "imsi": {
                            "type": "string",
                            "description": "IMSI of the SIM that triggered the event.",
                            "example": "901405100000018"
                          },
                          "country": {
                            "type": "string",
                            "description": "Mobile operator country where the event device is currently located.",
                            "example": "Germany"
                          },
                          "operator": {
                            "type": "string",
                            "description": "Operator name of the network the device is currently attached to.",
                            "example": "T-Mobile"
                          },
                          "mcc": {
                            "type": "string",
                            "description": "Mobile Country Code (MCC) of the operator network.",
                            "example": "262"
                          },
                          "mnc": {
                            "type": "string",
                            "description": "Mobile Network Code (MNC) of the network the device is currently attached to.",
                            "example": "01"
                          },
                          "alert": {
                            "type": "boolean",
                            "description": "Boolean flag determining if this event is treated as an alert.",
                            "example": false
                          },
                          "event_severity": {
                            "type": "string",
                            "description": "Textual representation of the severity of the event.",
                            "example": "Info"
                          }
                        },
                        "description": "Information about a Event. Besides the timestamp and the event_type all other values are optional and might not be included in the actual responses."
                      }
                    },
                    "totalEvents": {
                      "type": "integer",
                      "example": 10
                    },
                    "totalPages": {
                      "type": "integer",
                      "example": 5
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuthentication": []
          }
        ]
      }
    },
    "/v1/sims/{iccid}/usage": {
      "get": {
        "tags": [
          "SIM Usage"
        ],
        "summary": "Get SIM Usage",
        "description": "Query the SIM data and SMS usage over a given period of time. The output is limited to the last 6 months.",
        "operationId": "getUsageForSimUsingGET",
        "parameters": [
          {
            "name": "iccid",
            "in": "path",
            "description": "The ICCID of the SIM to be queried.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 8988280666000000000
          },
          {
            "name": "start_dt",
            "in": "query",
            "description": "Start date used for the query, format: YYYY-MM-DD",
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "example": "2022-07-22"
          },
          {
            "name": "end_dt",
            "in": "query",
            "description": "End date used for the usage query, format: YYYY-MM-DD",
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "example": "2022-07-22"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Usage Record",
                  "type": "object",
                  "properties": {
                    "stats": {
                      "type": "array",
                      "description": "List of queried usage statistics for the given SIM.",
                      "items": {
                        "title": "Daily Usage Record",
                        "type": "object",
                        "properties": {
                          "data": {
                            "title": "Data Usage Record",
                            "type": "object",
                            "properties": {
                              "cost": {
                                "type": "string",
                                "description": "The cost shown here match 1:1 the used SMS. There is no real cost value behind this number.",
                                "example": "0.002803"
                              },
                              "currency": {
                                "title": "Currency",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "Id of the currency.",
                                    "example": 1
                                  },
                                  "symbol": {
                                    "type": "string",
                                    "description": "ASCII symbol of the currency.",
                                    "example": "€"
                                  },
                                  "code": {
[...]
